/* Сбрасываю настройки отступов, и начинаем
делать навигацию */
*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}

header{
    font-size: 15px;

}


.nav-cont {
    background-color: #F2F4EA;
    display: flex;
    justify-content: space-between;
    padding-left: 40%;
    padding-right: 5%;
    height: 92px;
    align-items: center;

}

.nav-cont>nav>ul {
    
    display: flex;
    list-style: none;
    
}
.nav-cont>nav>ul>li>a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #1F4D36;
}



#button {
    border-style: solid;
    border-radius: 50px;
    border-color: #1F4D36;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
/* конец навигационной строки */
/* Начало первого информационного блока */

.block-one {
    display: block;
    max-width: 470px;
    padding-left: 60px;
    padding-top: 143px;

}


.block-one>h1 {
    font-size: 130px ;
    padding-top: 143px;
    padding-bottom: 66px;
    color: #1F4D36;
    
}
.block-one>p {
    font-size: 18px;
    color: #1F4D36;
}
.block-one>a{
    font-size: 17px;
    border-style: solid;
    border-radius: 50px;
    border-color: #1F4D36;
    background-color: #1F4D36;
    border-width: 1px;
    padding: 15px;
    margin-top: 25px;
    text-decoration: none;
    color: #CFE3CC;
    display: flex;
    justify-content: center;
    max-width: 241px;
}
.conteinerone {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-bottom: 76px;
}
.imgone {
    display: flex;
    padding-top: 42px;
    position: relative;
}
.imgbesit {
    margin-left: 4em;
    padding-right: 30px;
    width: 481px;
    height: 600px;
}
.imgtwo {
    position: absolute ;
    width: 389px ;
    z-index: 1 ;
    padding-top: 525px ;
}
/* конец 1 контейнера */
/* начало зеленого контейнера */
.greencont {
    height: 1269px ;
    background-color: #1F4D36 ;
    padding-top: 174px ;
    color: #F2F4EA ;
    text-align: center ;
   

}
.greencont>h1 {
    font-size: 72px ;
    padding-left: 140px ;
    padding-right: 140px ;
    padding-bottom: 50px;
}
.greencont>h3 {
    padding-left: 260px;
    padding-right: 260px;
}
.greencont>img {
    padding-left: 66px ;
    padding-top: 540px ;
}
/* конец зеленого контейнера */
/* начало 3 контейнера */
.contthree {
    padding-top: 220px;
    text-align: center;
    color: #1F4D36;
}
.contthree>h1 {
    padding-left: 229px;
    padding-right: 229px;
    font-size: 92px;
    
}
.contthree>h3 {
    padding-left: 260px;
    padding-right: 260px;
    font-size: 20px;
}
.contthree>p {
    display: inline;
    background-color: #F1EABA;
    border-style: solid;
    border-radius: 5px;
    border-color: #F1EABA;
    padding: 3px;

}
/* конец 3 контейнера */
/* начало блока list */

.list {
    display: flex;
    justify-content: space-between;
    padding-top: 1000px;
    color: #1F4D36;
    padding-left: 86px;
    padding-right: 154px;
}
.list>img {
    width: 327px;
    height: 642px;
}
.list>ul {
    max-width: 430px;
}

.list>ul>li {
    display: flex;
    justify-content: space-between;
}
.list>ul>li>h1 {
    padding-bottom: 60px;
}
hr {
    border: none; 
    height: 1px; 
    background-color: #1F4D36; 
 
}
.hrone {
    border: none; 
    height: 1px; 
    background-color:#F1EABA ; 
}
.borderbutton {
    margin-top: 15px ;
    padding: 17px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
}
/* конец блока лист */
/* начало блока greentwo */
.greentwo {
    background-color: #1F4D36;
    text-align: center;
    padding-bottom: 170px;
}
.greentwo>h1 {
    color: #F2F4EA;
    padding-top: 174px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 58px;
    font-size: 71px;
 
}
.greentwo>h3 {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 58px;
    color: #F2F4EA;
    
 
}
.imgdoctors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.imgdr>img {
    width: 234px;
    height: 234px;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #F2F4EA;
    padding: 20px;

}

.textualiti {
    color: #CFE3CC;
    
}
.textualiti>p {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    padding-top: 30px;
}
.textualiti>h3 {
    padding-top: 20px;
    font-size: 20px;
}
/* конец greentwo блока */
/* начало 5 блока */
.contfive {
     padding-top: 220px;
    text-align: center;
    color: #1F4D36;
    padding-bottom: 160px;
}
.contfive>p {
    display: inline;
    background-color: #F1EABA;
    border-style: solid;
    border-radius: 5px;
    border-color: #F1EABA;
    padding: 3px;

}
.contfive>h1 {
    font-size: 92px;
    padding-left: 245px;
    padding-right: 245px;
}
.contfive>h3 {
    font-size: 17px;
    padding-top: 40px;
    padding-left: 245px;
    padding-right: 245px;
    padding-bottom: 65px;
}
.contfive>h4 {
    display: inline;
    border-style: solid;
    border-radius: 50px;
    color: #CFE3CC;
    background-color: #1F4D36;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 80px;
    padding-right: 80px;
    border-color: #1F4D36;
    
}
/* конец 5 контейнера */
/* начало мятного контейнера */
.contmint {
    display: flex;
    justify-content: space-between;
    color: #1F4D36;
    padding-left: 86px;
    padding-right: 80px;
    background-color: #CFE3CC;
}
.contmint>img {
    width: 500px;
    height: 667px;
    padding-top: 100px;
}
.contmint>ul {
    max-width: 430px;
    list-style-type: none;
    padding-top: 113px;
}


.contmint>ul>li>h1 {
    padding-bottom: 60px;
    font-size: 79px;
}
.contmint>ul>li>p {
    display: flex;

    max-width: 130px;
    text-align: center;
    

}
.contmint>ul>hr {
    margin-top: 80px;
    margin-bottom: 20px;
}
.contmint>ul>h4 {
    font-size: 23px;
}
.borderbutton {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-style: solid;
    border-radius: 50px;
    border-width: 1px;
    max-width: 150px;
    height: 25px;
    text-align: center;
    margin-right: 20px;
    white-space: nowrap;
}
.button-list {
    max-width: 300px;
}
.button-list>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    
}
.learnmore {
    display: flex;
    align-items: center;
    color: #CFE3CC;
    border-style: solid;
    border-radius: 35px;
    background-color: #1F4D36;
    border-color: #1F4D36;
    margin-top: 80px;
    max-width: 175px;
    min-height: 52px;
    max-height: 53px;
    padding-left: 80px;
    margin-bottom: 115px;
}
/* конец мятного контейнера */
/* начало футера */
.footcont {
    background-color: #1F4D36;
    max-height: 946px;
    padding-top: 218px;
    color: #CFE3CC;
}
.footcont>h1{
    font-size: 64px;
    max-width: 900px;
    margin-left: 60px;
    padding-bottom: 52px;
}
.footcont>hr {
    background-color: #CFE3CC;
    height: 1px;
    width: 1080px;
    margin-left: 60px;
}
.contact {
    padding-top: 58px;
    display: flex;
    justify-content: end;
    padding-right: 85px;
}
.contact>ul{
    list-style-type: none;
    padding-right: 60px;
    padding-bottom: 100px;
    font-size: 17px;
}
.contact>ul>li {
    margin: 10px;
}
.contact>ul>li>h4 {
    font-size: 18px;
    padding-bottom: 5px;

}
.footcontact>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 10%;
    list-style-type: none;
    padding-top: 25px;
    opacity: 0.5;
    padding-bottom: 50px;
    font-size: 14px;
}